# ===============================
# common
# ===============================

server:
  port: 8080 # 서버 포트

  servlet:
    session:
      cookie:
        name: JSESSIONID
        path: /


spring:
  # 공용 설정 - JSP View Template
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

  # 공용 설정 - file
  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB

  # 공용 설정 - Redis Cache 사용
  cache:
    type: redis

  # 공용 설정 - Redis
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD:}

      repositories:
        enabled: false

  session:
    redis:
      namespace: spring


# ===============================
# profile - local
# ===============================
---
spring:
  config:
    activate:
      on-profile: local

#  devtools:
#    livereload:
#      enabled: true
#    restart:
#      enabled: true
#
#  web:
#    resources:
#      cache:
#        cachecontrol:
#          no-store: true
#          must-revalidate: true
#      chain:
#        cache: false

  session:
    timeout: 60m

  data:
    redis:
      timeout: 5000
      ssl:
        enabled: false

      lettuce:
        pool:
          max-active: 4
          max-idle: 2
          min-idle: 1


server:

  tomcat:
    threads:
      max: 200
      min-spare: 10

  servlet:
    session:
      cookie:
        max-age: 3600 # spring session timeout 값과 일치하게
        http-only: false
        secure: false

    jsp:
      init-parameters:
        development: true


# ===============================
# profile - prod
# ===============================
---
spring:
  config:
    activate:
      on-profile: prod

  session:
    timeout: 60m

  data:
    redis:
      timeout: 10000
      ssl:
        enabled: true  # ssl 암호화 연결 여부 (AWS ElastiCache 에선 true, 로컬에선 false)

      lettuce:
        pool:
          max-active: 10
          max-idle: 5
          min-idle: 2


server:
  forward-headers-strategy: native
  #use-forward-headers: true

  tomcat:
    threads:
      max: 300
      min-spare: 30
    max-connections: 10000          # 최대 연결 수
    accept-count: 100               # 대기 큐 크기
    connection-timeout: 20000       # 연결 타임아웃 (20초)
    max-swallow-size: -1            # 업로드 크기 무제한
    max-http-form-post-size: -1     # POST 크기 무제한

  servlet:
    session:
      cookie:
        max-age: 3600 # spring session timeout 값과 일치하게
        http-only: true
        secure: true
        same-site: none
        domain: ${APP_DOMAIN:}