<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studyon.app.layer.domain.member.mapper.MemberMapper">

    <select id="selectAll" resultType="studyon.app.layer.domain.member.MemberDTO$Read">
        SELECT *
        FROM member m
        WHERE 1=1
            <if test="rq.keyword neq null and rq.keyword neq ''">
                <choose>
                    <!--
                    <if test="rq.filter == 'name'">
                        name LIKE CONCAT('%', #{rq.keyword}, '%')
                    </if>
                    -->
                    <when test="rq.filter eq 'nickname'">
                        AND m.nickname LIKE CONCAT('%', #{rq.keyword}, '%')
                    </when>
                    <when test="rq.filter eq 'email'">
                        AND m.email LIKE CONCAT('%', #{rq.keyword}, '%')
                    </when>
                </choose>
            </if>
        ORDER BY m.member_id DESC LIMIT #{prq.size} OFFSET #{prq.startPage}
    </select>

    <select id="countAll" resultType="Integer">
        SELECT COUNT(*)
        FROM member m
        WHERE 1=1
            <!--
            <if test="rq.filter == 'name'">
                name LIKE CONCAT('%', #{rq.keyword}, '%')
            </if>
            -->
        <!-- (1) 검색어 필터 -->
        <if test="rq.keyword != null and rq.keyword != ''">
            <choose>
                <when test="rq.filter eq 'email'">
                    AND m.email LIKE CONCAT('%', #{rq.keyword}, '%')
                </when>
                <when test="rq.filter eq 'nickname'">
                    AND m.nickname LIKE CONCAT('%', #{rq.keyword}, '%')
                </when>
            </choose>
        </if>

        <!-- (2) 권한 필터 -->
        <if test="rq.role != null and rq.role != ''">
            <choose>
                <when test="rq.role eq 'USER'">
                    AND m.role = 'ROLE_STUDENT'
                </when>
                <when test="rq.role eq 'TEACHER'">
                    AND m.role = 'ROLE_TEACHER'
                </when>
                <when test="rq.role eq 'ADMIN'">
                    AND m.role = 'ROLE_ADMIN'
                </when>
            </choose>
        </if>

        <!-- (3) 활성/비활성 필터 -->
        <if test="rq.isActive != null and rq.isActive != ''">
            AND m.is_active = ${rq.isActive}
        </if>
    </select>

    <select id="selectBySearch"
            parameterType="map"
            resultType="studyon.app.layer.domain.member.MemberDTO$Read">
        SELECT
        m.member_id     AS memberId,
        m.email,
        m.nickname,
        m.role,
        m.is_active     AS isActive,
        m.cdate,
        m.last_login_at AS lastLoginAt
        FROM member m
        WHERE 1=1

        <!-- (1) 검색어 필터 -->
        <if test="rq.keyword neq null and rq.keyword neq ''">
            <choose>
                <when test="rq.filter eq 'email'">
                    AND m.email LIKE CONCAT('%', #{rq.keyword}, '%')
                </when>
                <when test="rq.filter eq 'nickname'">
                    AND m.nickname LIKE CONCAT('%', #{rq.keyword}, '%')
                </when>
            </choose>
        </if>

        <!-- (2) 권한 필터 -->
        <if test="rq.role neq null and rq.role neq ''">
            <choose>
                <when test="rq.role eq 'USER'">
                    AND m.role = 'ROLE_STUDENT'
                </when>
                <when test="rq.role eq 'TEACHER'">
                    AND m.role = 'ROLE_TEACHER'
                </when>
                <when test="rq.role eq 'ADMIN'">
                    AND m.role = 'ROLE_ADMIN'
                </when>
            </choose>
        </if>

        <!-- (3) 활성/비활성 필터 -->
        <if test="rq.isActive != null and rq.isActive != ''">
            AND m.is_active = ${rq.isActive}
        </if>


        ORDER BY m.member_id DESC
        LIMIT #{prq.size} OFFSET #{prq.startPage}
    </select>

    <!-- ✅ count 쿼리 동일 -->
    <select id="countBySearch"
            parameterType="map"
            resultType="Integer">
        SELECT COUNT(*)
        FROM member m
        WHERE 1=1

        <!-- (1) 검색어 필터 -->
        <if test="rq.keyword neq null and rq.keyword neq ''">
            <choose>
                <when test="rq.filter eq 'email'">
                    AND m.email LIKE CONCAT('%', #{rq.keyword}, '%')
                </when>
                <when test="rq.filter eq 'nickname'">
                    AND m.nickname LIKE CONCAT('%', #{rq.keyword}, '%')
                </when>
            </choose>
        </if>

        <!-- (2) 권한 필터 -->
        <if test="rq.role neq null and rq.role neq ''">
            <choose>
                <when test="rq.role eq 'USER'">
                    AND m.role = 'ROLE_STUDENT'
                </when>
                <when test="rq.role eq 'TEACHER'">
                    AND m.role = 'ROLE_TEACHER'
                </when>
                <when test="rq.role eq 'ADMIN'">
                    AND m.role = 'ROLE_ADMIN'
                </when>
            </choose>
        </if>

        <!-- (3) 활성/비활성 필터 -->
        <if test="rq.isActive != null and rq.isActive != ''">
            AND m.is_active = ${rq.isActive}
        </if>
    </select>

    <update id="toggleActive" parameterType="Long">
        UPDATE member
        SET is_active = NOT is_active
        WHERE member_id = #{memberId}
    </update>
</mapper>