<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studyon.app.domain.member.mapper.MemberMapper">
    <select id="selectAll" resultType="MemberInfo">
        SELECT *
        FROM member
        <where>
            <if test="rq.filter eq 'name'">
                name LIKE CONCAT('%', #{rq.keyword}, '%')
            </if>
            <if test="rq.filter eq 'nickname'">
                nickname LIKE CONCAT('%', #{rq.keyword}, '%')
            </if>
            <if test="rq.filter eq 'email'">
                email LIKE CONCAT('%', #{rq.keyword}, '%')
            </if>
        </where>
        ORDER BY member_id DESC LIMIT #{prq.size} OFFSET #{prq.startPage}
    </select>

    <select id="countAll" resultType="Integer">
        SELECT COUNT(*)
        FROM member
        <where>
            <if test="rq.filter eq 'name'">
                name LIKE CONCAT('%', #{rq.keyword}, '%')
            </if>
            <if test="rq.filter eq 'nickname'">
                nickname LIKE CONCAT('%', #{rq.keyword}, '%')
            </if>
            <if test="rq.filter eq 'email'">
                email LIKE CONCAT('%', #{rq.keyword}, '%')
            </if>
        </where>
    </select>
</mapper>